In [ ]:
#installing the libraries

from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
#fetching the data
url='https://www.scrapethissite.com/pages/simple/'

page=requests.get(url)

soup=BeautifulSoup(page.text,'html')

In [ ]:
#finding the data
country_data=soup.find_all(class_='country')

In [ ]:
#cleaning the data
data=[]

for block in country_data:
    country=block.find(class_="country-name").get_text(strip=True)
    capital = block.find( class_="country-capital").get_text(strip=True)
    population = block.find( class_="country-population").get_text(strip=True)
    area = block.find( class_="country-area").get_text(strip=True)

    data.append({
        "country":country,
        "capital": capital,
        "population": int(population),
        "area_km2": float(area)
    })

In [ ]:
#creating the dataframe
df=pd.DataFrame(data).set_index('country')

In [ ]:
#displaying the dataframe
df.head(10)

                               capital  population    area_km2
country
Andorra               Andorra la Vella       84000       468.0
United Arab Emirates         Abu Dhabi     4975593     82880.0
Afghanistan                      Kabul    29121286    647500.0
Antigua and Barbuda         St. John's       86754       443.0
Anguilla                    The Valley       13254       102.0
Albania                         Tirana     2986952     28748.0
Armenia                        Yerevan     2968000     29800.0
Angola                          Luanda    13068161   1246700.0
Antarctica                        None           0  14000000.0
Argentina                 Buenos Aires    41343201   2766890.0